In [1]:
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import time

In [2]:
# Import HookTheory data
chords_3 = pd.read_csv('3chord_songs.csv')
chords_4 = pd.read_csv('4chord_songs.csv')
chords_5 = pd.read_csv('5chord_songs.csv')

In [3]:
# Add column to dataframe to indicate data subset
chords_3['type'] = '3 chord'

# Display portion of dataframe to verify information and format
chords_3.head(1)

         artist     cp section          song     type
0  3 Doors Down  1,5,6   Intro  Be Like That  3 chord

In [4]:
# Add column to dataframe to indicate data subset
chords_4['type'] = '4 chord'

# Display portion of dataframe to verify information and format
chords_4.head(1)

         artist       cp section          song     type
0  3 Doors Down  1,5,6,4   Intro  Be Like That  4 chord

In [5]:
# Add column to dataframe to indicate data subset
chords_5['type'] = '5 chord'

# Display portion of dataframe to verify information and format
chords_5.head(1)

  artist         cp section              song     type
0  Adele  1,5,6,4,1  Chorus  Someone Like You  5 chord

In [6]:
# Create new dataframe to store information from all imported dataframes
chords_all = chords_3.copy()
chords_all.tail(1)

      artist     cp section           song     type
19678   Emax  5,2,3  Chorus  Delicate Oooz  3 chord

In [7]:
# Append information from second dataframe to new dataframe
chords_all = chords_all.append(chords_4)
chords_all.tail(1)

        artist       cp section                      song     type
16000  Phoenix  5,2,3,6  Chorus  Everything Is Everything  4 chord

In [8]:
# Append information from third dataframe to new dataframe
chords_all = chords_all.append(chords_5)
chords_all.tail(1)

        artist         cp section          song     type
13254  Klaxons  5,2,3,6,5   Intro  Golden Skans  5 chord

In [9]:
# save dataframe with consolidated information as a csv file
chords_all.to_csv('chords_all_songs.csv')